name: Go test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 'stable'
          cache: true
      - name: lint
        uses: golangci/golangci-lint-action@v3
      - run: go mod tidy
      - run: go get .
      - name: Build
        run: go build -v ./...
      - name: Test
        run: |
          go test -v -cover ./... -coverprofile=cover.out
          go test -tags wasmer -v -cover ./... -coverprofile=cover.out.wasmer
          go test -tags wasmtime -v -cover ./... -coverprofile=cover.out.wasmtime
          go test -tags docker -v -cover ./... -coverprofile=cover.out.docker
          go test -tags wazero -v -cover ./... -coverprofile=cover.out.wazero
          tail -q -n +2 cover.out.* >> cover.out
      - name: Report
        run: |
          go get github.com/johejo/go-cover-view
          go install github.com/johejo/go-cover-view
          go-cover-view -output markdown -report cover.out >> $GITHUB_STEP_SUMMARY
