name: Go test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '>=1.19.5'
          cache: true
      - name: lint
        uses: golangci/golangci-lint-action@v3
        with:
          args: -Derrcheck
      - run: go mod tidy
      - run: go get .
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v -cover ./... -coverprofile=cover.out
      - name: Report
        run: |
          go get github.com/johejo/go-cover-view
          go install github.com/johejo/go-cover-view
          go-cover-view -output markdown -report cover.out > $GITHUB_STEP_SUMMARY
